body {
    font-family: Arial, sans-serif;
}

#overview {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

#content {
    color: green;
    font-weight: bold;
    text-decoration: underline;
}

#procedure {
    color: gold;
    font-weight: bold;
    text-decoration: underline;
}
